<div class="card-google">
    <h2><a href="https://www.google.com/appsstatus#hl=en&v=status">G Suite</a></h2>
    <div class="card-columns dense-columns">
        {% for item in gsuite %}
        {% if gsuite[item]['message'] %}
            {% if gsuite[item]['message']['resolved'] %}
                {% set g_status = '<span class="badge badge-success float-right">up</span>' %}
            {% else %}
                {% set g_status = '<span class="badge badge-warning float-right">impaired</span>' %}
            {% endif %}
        {% else %}
            {% set g_status = '<span class="badge badge-success float-right">up</span>' %}
        {% endif %}
        <div class="card card-google">
        <p class="card-title">{{gsuite[item]['name']}}{{g_status|safe}}</p>
        </div>
    {% endfor %}
    </div>
    {% if gevents %}
        <ul class="list-group card-google">
            {% for item in gevents %}
            <li class="list-group-item card-google">Title: {{item["title"]}} <span class="float-right">Published: {{item["pubDate"]}}</span></li>
            <li class="list-group-item card-google">{{item["description"]|safe}}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>