<div class="card-zoom">
<h2><a href="https://status.zoom.us/">Zoom</a></h2>
<div class="card-columns sparse-columns">
{% for item in zoom["components"] %}
<div class="card card-zoom">
    {% if 'operational' in item['status']|lower %}
        {% set status_color = 'badge-success' %}
    {% elif 'degraded' in item['status']|lower %}
        {% set status_color = 'badge-warning' %}
    {% elif 'maintenance' in item['status']|lower %}
        {% set status_color = 'badge-info' %}
    {% endif %}
    <p class="card-title">{{item['name']}}<span class="badge {{status_color}} float-right">{{item['status']}}</span></p>
</div>
{% endfor %}
</div>
</div>